node_modules/
utils/
.vscode/
*.tsx
*.ts
package-lock.json
tsconfig.json
webpack.config.json
\.cache/
public/
# Project dependencies
.cache
node_modules
yarn-error.log

# Build directory
/public
.DS_Store
