/*Home style*/

#home{
    background-color: #3fda99b4;
    padding-top:180px; 
    padding-bottom: 180px;
}

#profile{
    text-align: left;
}

.card{
    background-color:#3fda99b4 ;
}

.card-header{
    background-color: #3fda99b4;
}

.card-link{
    color:black;
}

#homerowtwo{
    padding-top: 60px; 
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;  
    text-align: center;
}

/*About style*/

#about{
    padding-top:180px; 
    padding-bottom: 180px; 
    background-color: #a115e2 ;
}

#aboutText{
    margin-left: 30px;
    margin-right: 30px;
}

h1.about{
    text-align: center;
    padding-bottom: 30px;
}

/*Projects style*/

#projects{
    padding-top:180px; 
    padding-bottom: 180px; 
    background-color: #e9a30c ;
    text-align: center;
}

/*Contact style*/
#contact{
    padding-top:200px; 
    padding-bottom: 200px; 
    background-color: #82e90c ;
}

h1.contact{
    text-align: center;
}

p.contact{
    text-align: center;
}

/*Footer style*/
footer{
    background-color: #292929;
    color: white;
    height: 220px
}
