.footer {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    color: white;
    height: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:  #040d5c;
}

.footer p {
    font-style: italic;
    bottom: 3px;
}