.social-bar {
    width: 50px;
    height: auto;
    background-color: rgba(228, 128, 34, 0.75);
    top: 50px;
    font-size: 20px;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    display: block;
}

.social-bar a {
    color: white;
    display: block;
    text-align: center;
    padding: 15px 16px;
    white-space: none;
    float: none;
    outline: 0;
}

.social-bar a:hover {
    background-color: rgb(255, 143, 38);
}

@media screen and (max-width: 750px) {
    .social-bar {
        left: 0;
    }
}

@media screen and (min-width: 750px) {
    .social-bar {
        right: 0;
    }
}