body { margin:0; }

.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
    /* border: 1px solid red; */
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

.container {
    /* border: 1px solid red; */
    min-height: 500px;
    margin: 2% 4% 2% 4%;
}

.under-line {
    border-bottom: 1px solid rgb(21, 107, 235); 
}

.line {
    border-bottom: 2px solid rgb(65, 65, 201);
    padding-top: 30px;
    margin-bottom: 30px; 
}

@media only screen and (max-width: 750px) {
    .big-image {
        background-image: url("/images/profiel.jpg"); 
    }
}

@media only screen and (min-width: 750px) {
    .big-image {
        background-image: url("/images/juggling-cover-BIG.jpg"); 
    }
}

.big-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.image-bar {
    content: "";
    clear: both;
    display: table;
    border-bottom: 1px solid rgba(95, 91, 91, 0.678);
    /* display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 40px;
    margin:0px; */
}

.image-container {
    float: left;
    width: 25%;
    padding: 0px;
    text-align: center;
}

.image-bar img {
    max-height: 380px;
    
    /* height: 100px;
    text-align: center;
    width: auto;
    padding: 0px; */
}

.img-responsive {
    width: auto;
    height: auto;
  }

.skills-bar {
    display: grid;
    
}

.skill-items {
    text-align: center;
}

.crop {
    margin-left: auto;
    margin-right: auto;
}


.card {
    padding: 15px 60px;
    /* border: 1px solid black; */
    box-shadow: 20px 1px 15px 15px rgba(83, 81, 81, 0.753);
    margin-top:0%;
    margin-bottom: 2%;
    line-height: 180%;
    min-height: 350px;
}

.posts {
    margin-left: 50px;
    margin-right: 50px;
}

.posts h1 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 300px;
}

.posts ul {
    text-align: center;
    list-style-position: inside;
}

.posts li {
    font-size: 105%;
}

.posts a {
    text-decoration: none;
    color: rgb(53, 103, 168)/*This is same link color as google*/
}

.posts a:hover {
    color: rgb(102, 0, 153); /*The same color as google when clicked on a link*/
}

.blog-post {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 350px;
    padding: 0px 0px 100px 50px;
}



.contact {
    display: block;
    text-align: center;
    font-size: 3em;
    overflow: visible;
    text-overflow: clip;
    padding-top: 10%; 
    padding-bottom: 10%;
    line-height: 150%;
  }

iframe {
    width: 100%;
    max-width: 650px;
    height: 350px;
}