body {
    background: rgb(209,131,48);
    background: linear-gradient(90deg, rgba(209,131,48,1) 25%, rgba(196,215,32,1) 69%);
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

.under-line {
    border-bottom: 1px solid rgb(21, 107, 235); 
}

.line {
    border-bottom: 2px solid rgb(65, 65, 201);
    padding-top: 30px;
    margin-bottom: 30px; 
}

@media only screen and (max-width: 750px) {
    .big-image {
        background-image: url("/images/profiel.jpg"); 
    }
}

@media only screen and (min-width: 750px) {
    .big-image {
        background-image: url("/images/juggling-cover-BIG.JPG"); 
    }
}

.big-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.image-bar {
    content: "";
    clear: both;
    display: table;
    border-bottom: 1px solid rgba(95, 91, 91, 0.678);
    /* display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 40px;
    margin:0px; */
}

.image-container {
    float: left;
    width: 25%;
    padding: 0px;
    text-align: center;
}

.image-bar img {
    max-height: 380px;
    
    /* height: 100px;
    text-align: center;
    width: auto;
    padding: 0px; */
}

.img-responsive {
    width: auto;
    height: auto;
  }

.skills-bar {
    display: grid;
    
}

.skill-items {
    text-align: center;
    padding-top: 10%;
}

.crop {
    margin-left: auto;
    margin-right: auto;
}


.card {
    padding: 15px 20px;
    /* border: 1px solid black; */
    box-shadow: 20px 1px 15px 15px rgba(83, 81, 81, 0.753);
    margin-top:2%;
    margin-bottom: 2%;
    line-height: 180%;
    min-height: 350px;
}

.posts {
    margin-left: 50px;
    margin-right: 50px;
}

.posts h1 {
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
}

.post-grid {
 margin-left: auto;
 margin-right: auto;
 /* border: 1px solid red; */
}

.post-item {
    display: inline-block;
    font-size: large;
    padding-left: 5px;
    writing-mode: sideways-lr;
    /* border: 1px solid green; */
}

.posts a {
    text-decoration: none;
    color: rgb(53, 103, 168)/*This is same link color as google*/
}

.posts a:hover {
    color: rgb(102, 0, 153); /*The same color as google when clicked on a link*/
}

.blog-post {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 350px;
    padding: 0px 0px 100px 50px;
}

.blog-content {
    padding-top: 20px;
    font-size: larger;
}

.contact {
    display: block;
    text-align: center;
    font-size: 3em;
    overflow: visible;
    text-overflow: clip;
    padding-top: 10%; 
    padding-bottom: 10%;
    line-height: 150%;
  }

iframe {
    width: 100%;
    max-width: 650px;
    height: 350px;
}

.output {
    border: 10px solid rgb(173, 172, 172);
    background-color: black;
    color: white;
    margin-top: 10px ;
    margin-bottom: 100px;
    padding: 10px;
    font-weight: bold;
    min-height: 150px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-height: 300px;
    overflow-y: scroll;
}

.default-console-text {
    font-size: small;
    font-weight: normal;
    padding-left: 5px;
}

.line-arrow {
    word-spacing: 0;
}

.homepage {
    margin: 1%;
}

.code {
    background-color: rgb(239, 240, 193);
    font-family: monospace ;
    font-size: xx-large;
    padding: 1%;
    min-height: 400px;
    max-height: 800px;
    overflow-y: scroll;
}

.code p{
    padding-left: 4%;
}

.code li:not(:last-child) {
    border-bottom: 1px solid rgba(216, 215, 206, 0.685);
}

