body {
    margin: 0;
    padding: 0;
}

.code {
    background-color: #f3f2c9;
    font-family: monospace ;
    font-size: xx-large;
    padding: 1%;
    min-height: 400px;
    max-height: 1000px;
    width: 80%;
    max-width: 800px;
    overflow-y: visible;
    white-space:pre;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.code p{
    padding-left: 4%;
}

.code li:not(:last-child) {
    border-bottom: 1px solid rgba(216, 215, 206, 0.685);
}
